header{
    background-color: #24252a;
    display:flex ;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: white;
}

.headerLeft{
    flex: 0.3;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.headerLeft > :nth-child(1)
{
    border: 3px solid #0088a9;
}

.headerLeft > .MuiSvgIcon-root{
    margin-left: auto;
    margin-right: 70px;
    

}
.headerSearch{
    flex: 0.4;
    background-color: rgb(225, 224, 224); 
    text-align: center;
    display: flex;
    padding: 0 50px;
    color: gray;
    border: 1px gray solid;
    border-radius: 6px;
}

.headerSearch > input{
    background-color: transparent;
    border: none;
    text-align: center;
    min-width: 40vw;
}

.headerRight{
    flex: 0.3;
    display: flex;
    align-items: flex-end;
}

.headerRight > .MuiSvgIcon-root{ 
    margin-left: auto;
    margin-right: 20px;
}